<div class="countdown-timers">
  <div *ngFor="let countdownTimer of countdownTimers" class="c100 small green countdown-timer"
       (click)="startCountdownTimer(countdownTimer)"
       [class.hidden]="countdownTimer.isHidden()">
    <span *ngIf="!countdownTimer.isRunning" class="minutes">{{countdownTimer.howManyMinutes | number:'2.0'}}m</span>
    <span *ngIf="countdownTimer.isRunning" class="minutes">{{countdownTimer.currentMinutes | number:'2.0' }}:{{countdownTimer.currentSeconds | number:'2.0' }}</span>
    <div class="slice">
      <div class="bar"></div>
      <div class="fill"></div>
    </div>
  </div>
</div>
