.day .task, .day .new-task {
  border-left: none;
  border-right: none;
}

.day .task .actions {
  margin-top: 5px;
  padding-top: 5px;
  display: none;
}

.day .task:hover .actions {
  display: inherit;
}

.card-top {
  position: relative;
}

.card-top .buttons {
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
}

.day-name h3, .day-name h4, .day-name h5, .day-name h6 {
  display: inline;
}

.day-name .task-value {
  margin-left: 5px;
}
