<div class="row focused-task-control">
  <div class="col-xs-3 col-md-4 col-lg-5">
    <div class="previous-task" (click)="showPreviousTodo()" ng-show="canSwitchToPreviousTodo()">
      <i class="fa fa-chevron-left"></i>
    </div>
  </div>
  <div class="col-xs-6 col-md-4 col-lg-2">
    <div id="progressBar" class="progress-bar" (click)="switchFocusedTaskDone()">
      <div class="c100 green" [class]="currentProgressBarClass">
        <span>{{ currentProgressPercent }}%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-3 col-md-4 col-lg-5">
    <div class="next-task" (click)="showNextTodo()" ng-show="canSwitchToNextTodo()">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>
</div>
