<div *ngIf="day" class="focused-task-control">
  <div class="col-xs-3 col-md-4 col-lg-5">
    <div class="previous-task" (click)="switchToPreviousTask()" *ngIf="canSwitchToPreviousTask()">
      <i class="fa fa-chevron-left"></i>
    </div>
  </div>
  <div class="col-xs-6 col-md-4 col-lg-2">
    <div id="progressBar" class="progress-circle" (click)="switchFocusedTaskDone()">
      <div class="c100 green p{{ getCurrentProgressPercent() }}">
        <span>{{ getCurrentProgressPercent() }}%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-3 col-md-4 col-lg-5">
    <div class="next-task" (click)="switchToNextTask()" *ngIf="canSwitchToNextTask()">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>
</div>
