<div *ngIf="focusedDay" class="execute-plan">
  <div class="row">
    <div class="col-xs-2">
      <button *ngIf="!isLeftMenuHidden" (click)="switchLeftMenuHidden()" class="btn btn-sm btn-secondary">
        <i class="fa fa-expand" aria-hidden="true"></i>
      </button>
      <button *ngIf="isLeftMenuHidden" (click)="switchLeftMenuHidden()" class="btn btn-sm btn-secondary">
        <i class="fa fa-compress" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-xs-10">
      <countdown-timers></countdown-timers>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <rectangle-progress-bar [progressPercent]="focusedDay.getProgressPercent()"></rectangle-progress-bar>
      <day-tasks-progress [focusedTaskIndex]="focusedDay.getFocusedTaskIndexZeroBased()"
                          [tasks]="focusedDay.getTasks()"></day-tasks-progress>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <focused-task-control [day]="focusedDay"></focused-task-control>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <focused-task></focused-task>
    </div>
  </div>
</div>
<div *ngIf="!focusedDay" class="execute-plan">
  <div class="row">
    No day selected,
    <button routerLink="/plan" class="btn btn-warning">go back to plan</button>
  </div>
</div>
