<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-7 col-lg-7 col-xl-6">
    <goal-system-tile></goal-system-tile>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-7 col-lg-7 col-xl-6">
    <button *ngIf="!isShowingFutureDays" (click)="showFutureDays()"
            class="btn btn-secondary show-more-days-ahead">
      Pokaż więcej dni do przodu <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </button>
  </div>
</div>
<div class="row" *ngFor="let day of dayList.getDays(); let dayIndex = index; let isLastDay = last">
  <div class="col-xs-12 col-sm-10 col-md-7 col-lg-7 col-xl-6">
    <day-plan-tile [day]="day" [dayIndex]="dayIndex" [isShowingFutureDay]="isShowingFutureDays"
                   (copyTask)="copyTaskToNextDay($event)"
                   (copyNotDoneTasks)="copyNotDoneTasksToNextDay($event)"
                   #dayComponents
    ></day-plan-tile>
  </div>
</div>
