<div class="row">
  <div class="col-xs-6 col-lg-4">
    <button *ngIf="!isShowingFutureDays" (click)="showFutureDays()" class="btn btn-secondary show-more-days-ahead">
      Pokaż więcej dni do przodu <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </button>
  </div>
</div>
<div class="row" *ngFor="let day of days; let dayIndex = index; let isLastDay = last">
  <div class="col-xs-6 col-lg-4">
    <day-plan-tile [day]="day" [dayIndex]="dayIndex" [isShowingFutureDay]="isShowingFutureDays"
                   (copyTask)="copyTaskToNextDay($event)"></day-plan-tile>
  </div>
</div>
