<div class="left-menu">
  <div>
    <a routerLink="/planning" routerLinkActive="active" class="menu-item">
      <i class="fa fa-tachometer" aria-hidden="true"></i>Plan
    </a>
    <a routerLink="/executeplan" routerLinkActive="active" class="menu-item">
      <i class="fa fa-user" aria-hidden="true"></i>Execute plan
    </a>
    <a routerLink="/presentation" routerLinkActive="active" class="menu-item">
      <i class="fa fa-users" aria-hidden="true"></i>Presentation
    </a>
    <a routerLink="/notes" routerLinkActive="active" class="menu-item">
      <i class="fa fa-link" aria-hidden="true"></i> Notes
    </a>
  </div>
</div>
