<div class="left-menu">
  <div>
    <a routerLink="/plan" routerLinkActive="active" class="menu-item">
      <i class="fa fa-calendar" aria-hidden="true"></i> Plan
    </a>
    <a routerLink="/executeplan" routerLinkActive="active" class="menu-item">
      <i class="fa fa-line-chart" aria-hidden="true"></i> Zrealizuj plan & rośnij
    </a>
    <a routerLink="/notes" routerLinkActive="active" class="menu-item">
      <i class="fa fa-lightbulb-o" aria-hidden="true"></i> Notatki i pomysły
    </a>
    <a href="http://rozwojdlaefektow.pl" target="_blank" class="menu-item">
      <i class="fa fa-newspaper-o" aria-hidden="true"></i> Co nowego na blogu?
    </a>
    <!--<a routerLink="/presentation" routerLinkActive="active" class="menu-item">-->
    <!--<i class="fa fa-sticky-note-o" aria-hidden="true"></i> Presentation-->
    <!--</a>-->

  </div>
</div>
