.focused-task-control .progress-circle {
  margin: auto;
  display: table;
  cursor: pointer;
}

.focused-task-control .progress-circle div, .focused-task-control .progress-circle span {
  cursor: pointer;
}

.focused-task-control .progress-circle .c100 {
  margin: auto;
}

.focused-task-control .next-task {
  display: flex;
  align-items: center;
  height: 120px;
  color: lightgray;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}

.focused-task-control .next-task i {
  margin: auto;
}

.focused-task-control .previous-task {
  float: right;
  display: flex;
  align-items: center;
  height: 120px;
  color: lightgray;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}

.focused-task-control .previous-task i {
  margin: auto;
}
